.AppFont{
  font-family: 'Prompt', sans-serif;
  /* font-family: 'Prompt', sans-serif; */
}
tr td{
  text-align: center;
}
tr th{
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 60px;
  line-height: 20px;
  background-color: #20716a;
  font-size: 40px;
  color: #ffd36b;
  font-family: "Patrick Hand", cursive;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
